@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

@font-face {  
  font-family: "Limo";  
  src: url('../fonts/limo.eot'); /* IE */  
  src: url('../fonts/limo.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  		 url('../fonts/limo.woff') format('woff'), /* Modern Browsers */
  	   local("limo.ttf"), url(../fonts/limo.ttf) format("truetype"); /* non-IE */  
}

@font-face {
    font-family: 'gothambookregular';
    src: url('../fonts/gothambook-webfont.eot');
    src: url('../fonts/gothambook-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gothambook-webfont.woff') format('woff'),
         url('../fonts/gothambook-webfont.ttf') format('truetype'),
         url('../fonts/gothambook-webfont.svg#gothambookregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body { }
.container { width: 810px; color: #FFFFFF; }
#home { position: relative; background: url(../img/blog/blog_home_bg.jpg); width: 810px; height: 596px; }
#menu { margin: 68px 0px 0px 257px; width: 160px; }
#menu a {
display: block;
text-align: center;
text-transform: uppercase;
font-size: 18px;
color: #FFFFFF;
font-family: 'gothambookregular';
/*background: url(../img/blog/dark.png) no-repeat 15px 0px;*/
opacity: 0.6;
}
#menu a:hover { text-decoration: none; color: #FFFFFF; opacity: 1.0; }

#invita { 
	position: absolute;
	bottom: 13px;
	right: 5px;
	text-align: center;
	width: 100px;
	text-transform: uppercase;
	font-size: 11px;
	font-family: 'gothambookregular';
	line-height: 14px;
}

#blog { background: url(../img/blog/blog_bg.jpg) #000000 no-repeat; width: 810px; position:relative; }
.inicioButton {
	font-family: 'gothambookregular';
	font-size: 18px;
	text-transform: uppercase;
	color: #FFFFFF;
	position: absolute;
	left: 118px;
	top: 14px;
}
.newsfeedButton {
	position: absolute;
	left: 16px;
	top: 4px;
	width: 90px;
	height: 32px;
}
.policyPrivacy {
	font-family: 'gothambookregular';
	font-size: 14px;
	color: #FFFFFF;
	position: absolute;
	left: 18px;
	bottom: 14px;
}
.inicioButton:hover, .policyPrivacy:hover {
	color: #FFFFFF;
}
#nav { margin: 59px 0px 0px 240px;
float: left;
height: 306px;
background: #7c235a; }

#blog #menu { float: left; }

.moda_on { opacity: 1.0 !important; }
.belleza_on { opacity: 1.0 !important; }
.findesemana_on { opacity: 1.0 !important; }
/*.moda_off { background: url(../img/blog/m_findesemana.png); width: 114px; height: 100px; display: block; }
.belleza_off { background: url(../img/blog/m_findesemana.png) 0px 198px;
width: 114px;
height: 95px;
display: block; }
.findesemana_off { background: url(../img/blog/m_moda.png) 0px -204px;
width: 114px;
height: 103px;
display: block; }*/

h1 { font-family: 'gothambookregular'; font-weight: 400; color: #FFFFFF; text-transform: uppercase; opacity: 0.8; margin: 20px 0px; font-size: 32px; }
#content { width: 375px;
float: left;
margin: 66px 0px 0px 10px;}

.post { 
border-radius: 5px; width: 250px; color: white; font-size: 14px; font-family: 'gothambookregular'; font-weight: 100; line-height: 14px; margin-bottom: 40px; float: left; }
.post li { line-height: 14px;  }

.post img { }

h2 { font-size: 19px; font-family: 'gothambookregular'; font-weight: 400; color: #FFFFFF; line-height: 20px; }
small { font-size: 10px; font-family: 'gothambookregular'; color: #fff; font-weight: 300; text-transform: uppercase; }

.archivo { float: right; width: 100px; line-height: 10px; margin-top: 150px; margin-right: 10px; }

h3 { font-family: 'gothambookregular'; color: #AEAEAE; font-size: 19px; line-height: 40px; font-weight: 100; }
.archivo a { color: #AEAEAE; font-size: 12px; font-family: 'gothambookregular'; line-height: 12px; }
.archivo a:hover { color: #FFFFFF; }
#share { font-size: 10px; text-transform: uppercase; font-family: 'gothambookregular'; color: white; text-align: center; width: 100px; float: right; }

#inicio { position: absolute; top: 80px; left: 20px; font-size: 15px; font-weight: 100; font-family: 'gothambookregular'; text-transform: uppercase;  }
#inicio a { color: #e8499a; }

#share img { border: none;
border-radius: 0px;
box-shadow: none; }